
<div id="scoped-content" class="admin-dashboard">

    <style type="text/css" scoped>

    p {
        font-size: .75rem;
        line-height: .75rem;
        margin-top: 3px;
        margin-bottom: 3px;
    }

    .admin-image-container {
        text-align: center;
        position: relative;
        height: 175px;
        border-right: 1px solid black;
    }

    .admin-image-preview {
        height: 100%;
        max-width: 300px;
    }

    .admin-image-info {
        padding-left: 1rem;
    }

    .image-row {
        height: 175px;
        padding: 20px 0;
        border-bottom: 1px solid black;
    }

    .image-button1 {
        position: absolute;
        top: 0;
        right: 0;
    }

    .image-button2 {
        position: absolute;
        top: 30px;
        right: 0;
    }

    </style>

    {{#each images}}

        <div class="image-row" layout="row" layout-align="start start">

            <div class="admin-image-container" flex="35">
                <a href="/{{id}}">
                    <img class="admin-image-preview" src="/api/media/{{id}}" alt="{{title}}" />
                </a>
                <button type="button" class="image-button1">Flag as NSFW</button>
                <button type="button" ng-click="removeContent('{{id}}')" class="image-button2">Remove</button>
            </div>

            <div class="admin-image-info" layout="column" flex="65" layout-align="space-between start" >
                <p>Title: {{title}}</p>
                <p>ViewsWebsite: {{viewsWebsite}}</p>
                <p>ViewsEmbeded: {{viewsEmbeded}}</p>
                <p>Is Nsfw? {{isNsfw}}</p>
                <p>Date posted: {{date}}</p>
                <p>Dimensions: {{width}}px x {{height}}px </p>
                <p>Size: {{size}}</p>
            </div>

        </div>

    {{/each}}

</div>
