
<!DOCTYPE html>
<html>

<head>
  
    <!-- normal head tags -->
    <title>{{title}}</title>

    <!-- style -->
    <style type="text/css">

        p {
            font-size: .75rem;
            line-height: .75rem;
            margin-top: 3px;
            margin-bottom: 3px;
        }

        .admin-dashboard {
            max-width: 960px;
            margin: 0 auto;
            padding-bottom: 5rem;
        }

        .admin-dashboard-header {
            text-align: center;
            padding: 1.5rem;
        }

        .admin-image-container {
            text-align: center;
            position: relative;
            height: 175px;
            border-right: 1px solid black;
            display: inline-block;
            width: 400px;
        }

        .admin-image-preview {
            height: 100%;
            max-width: 300px;
        }

        .admin-image-info {
            display: inline-block;
            max-width: 560px;
            padding-left: 1rem;
            position: relative;
            top: -40px;
        }

        .image-row {
            position: relative;
            height: 175px;
            padding: 20px 0;
            border-bottom: 1px solid black;
        }

        .image-button1 {
            position: absolute;
            top: 0;
            right: 0;
        }

        .image-button2 {
            position: absolute;
            top: 30px;
            right: 0;
        }

        .changePage {
            cursor: pointer;
            padding-right: 2rem;
            font-weight: 700;
            color: blue;
        }

        .select-perpage-text {
            padding-right: 1rem;
        }

    </style>

    <!-- Angular Material style sheet -->
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css">

    <!-- javascript dependencies -->
    <script type="text/javascript" src="/scripts/jquery-2.2.0.min.js"></script>
    <script type="text/javascript" src="/scripts/angular.min.js"></script>
    <script type="text/javascript" src="/scripts/angular-resource.min.js"></script>
    <script type="text/javascript" src="/scripts/angular-route.min.js"></script>
    <script type="text/javascript" src="/scripts/angular-messages.min.js"></script>
    <script type="text/javascript" src="/scripts/angular-aria.min.js"></script>
    <script type="text/javascript" src="/scripts/angular-animate.min.js"></script>
    <script type="text/javascript" src="/scripts/moment.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0-rc7/angular-material.min.js"></script>

    <!-- custom service -->
    <script>
        angular.module('gifmage.factories', [])
        .factory('ImageService', ['$resource', function($resource){

            var Image =  $resource('/api/image/:id', {id: '@Id'}, {
                update: {method: 'PUT'},
                getRecentImages: {
                    method: 'GET',
                    url: '/api/recentImages',
                    isArray: true
                },
                getPopularImages: {
                    method: 'GET',
                    url: '/api/popularImages',
                    isArray: true
                },
                removeContent: {
                    method: 'DELETE',
                    url: '/api/delete/:id', 
                    params: {id: '@Id'}
                }
            });

            return Image;

        }]);

    </script>
   
    <!-- custom controller -->
    <script>

        angular.module('gifmage.controllers', [])

        .controller('AdminController', ['$scope', '$timeout', '$location', 'ImageService', '$window',
            function($scope, $timeout, $location, ImageService, $window){

            var vm = this;

            vm.init = function() {
                /* stuff to do on init */
            };

            $scope.removeContent = function(id) {
                var params = {id: id};
                ImageService.removeContent(params, function(result) {

                    if (result.ok === 1) {
                        $window.location.href = '/admin/dashboard/' + page + '/' + perpage;
                    }

                });
            };

            $scope.setPagination = function(page, perpage) {
                $scope.current_page = Number(page);
                $scope.amt_per_page = perpage;
            };

            $scope.goToPage = function(page, perpage) {
                $window.location.href = '/admin/dashboard/' + page + '/' + perpage;
            };

            vm.init();

        }]);

    </script>

    <!-- custom angular app -->
    <script>
        
        var app = angular.module('gifmage.adminDashboard',
                ['gifmage.controllers',
                 'gifmage.factories',
                 'ngRoute',
                 'ngResource',
                 'ngMaterial']);

    </script>
    
</head>

<body ng-app="gifmage.adminDashboard" ng-cloak>

    <div class="admin-dashboard" ng-controller="AdminController">

        <div class="admin-dashboard-header">

            <h2>Gifmage - Admin Dashboard</h2>

        </div>

        <div class="admin-dashboard-pagination" 
             layout="row"
             ng-init="setPagination('{{page}}', '{{perPage}}')">

            <span class="changePage" ng-click="goToPage( (current_page - 1), amt_per_page)">Previous Page</span>
            <span class="changePage" ng-click="goToPage( (current_page + 1), amt_per_page)">Next Page</span>

            <span flex></span>

            <span class="select-perpage-text">Images Per Page: </span>
            <select ng-model="amt_per_page" ng-change="goToPage(current_page, amt_per_page)">
                <option value="5">5</option>
                <option value="10">10</option>
                <option value="20">20</option>
                <option value="50">50</option>
                <option value="100">100</option>
            </select> 

        </div>

        {{#each images}}

            <div class="image-row">

                <div class="admin-image-container">
                    <a href="/{{id}}">
                        <img class="admin-image-preview" src="/api/media/{{id}}" alt="{{title}}" />
                    </a>
                    <button type="button" class="image-button1">Flag as NSFW</button>
                    <button type="button" ng-click="removeContent('{{id}}')" class="image-button2">Remove</button>
                </div>

                <div class="admin-image-info">
                    <p>Title: {{title}}</p>
                    <p>ViewsWebsite: {{viewsWebsite}}</p>
                    <p>ViewsEmbeded: {{viewsEmbeded}}</p>
                    <p>Is Nsfw? {{isNsfw}}</p>
                    <p>Date posted: {{date}}</p>
                    <p>Dimensions: {{width}}px x {{height}}px </p>
                    <p>Size: {{size}}</p>
                </div>

            </div>

        {{/each}}

    </div>

</body>

</html>


