
<!-- the page containing the image itself, loaded with handlebars -->

<div class="image-page" ng-controller="ImagePageController">

    <gifmage-navbar></gifmage-navbar>

    <div class="content-container" layout="row">
       
        <!-- contains just the image, image title, and some image info -->
        <div class="image-content-left">

            <div class="image-header">
                <p class="title">{{title}}</p>
            </div>
       
            <!-- for regular images --> 
            <img ng-if="!isVideo('{{fileType}}')" src="/api/media/{{id}}"/>
        
            <!-- for videos -->
            <video ng-if="isVideo('{{fileType}}')" autoplay loop>
                <source ng-src="/api/media/{{id}}" type="video/webm">
                Your browser does not support the video tag.
            </video>
        
        </div>

        <!-- column to the right of the image -->
        <div class="image-content-right" layout="column">


        </div>

        <popular-images imageheight="{{height}}" imagewidth="{{width}}"></popular-images>
    
    </div>

</div>
