
<!-- the page containing the image itself, loaded with handlebars -->

<div class="image-page" ng-controller="ImagePageController">

    <gifmage-navbar></gifmage-navbar>

    <div class="image-title-bar md-whiteframe-4dp"
         ng-init="setBackground('{{id}}')"
         layout="column" layout-align="center center">
        <div class="title-bar-background" id="title-bar-background"></div>
        <div class="title-contents" id="title-contents" layout="row" layout-align="center center">
            <p class="title">{{title}}</p>
        </div>
    </div>

    <div class="content-container"
         layout-gt-sm="row" layout="column" 
         ng-init="initializePageStyle({{width}}, {{height}})">

        <!-- contains just the image, image title, and some image info -->
        <div class="image-content-left md-whiteframe-12dp" 
             id="image-container"
             layout="row" layout-align="center center">
       
            <!-- for regular images -->
            <a href="/api/media/{{id}}">
                <img ng-if="!isVideo('{{fileType}}')" src="/api/media/{{id}}" />
            </a>

            <!-- for videos -->
            <video ng-if="isVideo('{{fileType}}')" autoplay loop>
                <source ng-src="/api/media/{{id}}" type="video/webm">
                Your browser does not support the video tag.
            </video> 
        
        </div>

        <!-- column to the right of the image  -->
        <div class="image-content-right" layout="column">

            <div flex class="image-metadata" layout="column" layout-align="start start">

                <p>By: Anonymous</p>
                <p>On: <span ng-bind="formatDate('{{date}}', 'MM/DD/YYYY hh:mma')"></span></p>
                <p>Views: <span ng-bind="addViews({{viewsWebsite}}, {{viewsEmbeded}})"></span></p>
                <p>Size: <span ng-bind="convertSize({{size}})"></span></p>
                <p class="dimensions">Dimensions: <span>{{width}}px x {{height}}px</span></p>

                <!-- Facebook like button code -->
                <div class="fb-share-container">
                    <div 
                        class="fb-like" 
                        data-layout="button_count" 
                        data-share="true"
                        data-width="200" 
                        data-show-faces="false" 
                        data-href="http://www.gifmage.com/{{id}}" 
                        data-action="like"> 
                    </div>
                </div>

            </div>

        </div>
    
    </div>
    
    <div class="popular-images-container">
        <popular-images imageheight="{{height}}" imagewidth="{{width}}"></popular-images>
    </div>

    <!-- disqus comments section -->

    <div class="disqus-container">
    
        <div id="disqus_thread"></div>
        <script>
           var disqus_config = function () {
               //this.page.url = 'gifmage.com/{{id}}'; 
               this.page.identifier = '{{id}}'; 
           };
            
        (function() { // DON'T EDIT BELOW THIS LINE
             var d = document, s = d.createElement('script');

             s.src = '//gifmage.disqus.com/embed.js';

            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
         })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>

    </div>

</div>
